h1{background-color: #e2dede;
    font-family: Arial, Helvetica, sans-serif;
}
#scale1{background-color: #2978c8;
color: #f5f5f5;}
#scale2{background-color: #2987c8;
color:#f5f5f5 ;}
#scale3{background-color: #2990c7;
color: #f5f5f5;}
#scale4{background-color: #299bc8;
color: #f5f5f5;}
#scale5{background-color: #29a5c8;
color: #f5f5f5;} 
#scale6{background-color: #29afc8;
    color: #f5f5f5;} 
    #scale7{background-color: #29b9c8;
        color: #f5f5f5;} 
        #scale8{background-color: #29c3c8;
            color: #f5f5f5;} 
#main1{background-color: #15d115;color: #f5f5f5;}
#main2{background-color: hsl(325, 87%, 85%);color: #f5f5f5;}
#main3{background-color: hsl(325, 100%, 82%);color: #f5f5f5;}
#main4{background-color: hsl(325, 100%, 80%);color: #f5f5f5;}
#main5{background-color: hsl(325, 100%, 78%);color: #f5f5f5;}
#main6{background-color: hsl(325, 100%, 76%);color: #f5f5f5;}
#main7{background-color: hsl(325, 100%, 73%);color: #f5f5f5;}
#main8{background-color: hsl(325, 100%, 70%);color: #f5f5f5;}
#main9{background-color: hsl(325, 100%, 68%);color: #f5f5f5;}