body {
  font-family: "Courier New", Courier, monospace;
  font-size: 80%;
  letter-spacing: 0.1em;
  background-color: #efefef;
}
#pages {
  max-width: 950;
  min-width: 750;
  margin: 10px auto 10px auto;
  padding: 20px;
  border: 4px double black;
}
